<html>
<header>
       <%-include header.ejs%>
</header>
<body>
<div id = 'rightSide'>
       <%-include top_header.ejs%>
       <%-include(fileName)%>
       <%-include footer.ejs%>
</div>
<div class="clear">

</div>
</body>
</html>